@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  --blue: #1A237E;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;

}